.form-wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.select {
  width: 300px;
}

.table-wrap {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0 auto;
  margin-top: 50px;
}

.table-head {
  background: #f6f4f4;
}

.table-head th {
  font-weight: 700;
}
